@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@400;900&family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Kanit&family=Montserrat:wght@400;900&family=Poppins:wght@200;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar {
    position: fixed;
    color: #fff;
    padding: 10px;
}

.listitem {
    padding-top: 10px;
    padding-left: 850px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    /* Ensures the whole area is clickable */
    padding: 8px;
}

li a {
    font-family: 'Poppins', sans-serif;


}

.navbar ul li a:hover {
    color: #ffcc00;
}

.container {
    display: flex;
    /* height: 100vh; */
}

.devimg {
    vertical-align: middle;
    display: inline-block;
    width: 35px;
}

.info {
    height: 58vh;
    margin: 60px 150px;
    display: flex;
    justify-content: space-around;
}

.infodev {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.devpic img {
    width: 6vw;
    padding: 80;
}

.hello {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: white;

}

.name {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.namespan {
    /* color: rgb(7, 234, 255); */
    color: #ffc107;
}

.surname {
    font-size: 50px;
    font-weight: bolder;
    color: #ffc107;
    padding-bottom: 30px;
}

.about {
    font-size: 30px;
    color: white;
}

.moreabout {
    font-size: 20px;
    margin-top: 30px;
    color: white;
}

.buttons {
    margin-top: 34px;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: #ffcc00;
    ;
    font-weight: bold;
    font-size: 12px;
    margin: 0 3 px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: antiquewhite;
    color: black;

}

.contactform h1 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

.contactform {
    padding-top: 140px;
    padding-left: 30px;

}

.contactform form div {
    padding: 10 0;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 20vw;
    border-radius: 5px;
}

#emailHelp {
    font-size: 8px;
    color: grey;
    padding: 3px 0 0 0;
    margin: 0 5px;

}

.btn {
    margin-left: 10px;
    padding: 9px 14px;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 12px;
    margin: 0 3 px;
    cursor: pointer;
}

.material-symbols-outlined {
    font-family: 'Material Icons';
    margin-right: 10px;
    padding-left: 140px;
    color: white;
    font-size: medium;
}

.learnmore {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.learnmore h2 {
    font-size: medium;
}

.aboutme {
    color: white;
    /* height: 100vh; */
    padding-top: 150px;
    margin: 60px 150px;
}

.abouth1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-size: 50px;

}

.aboutspan {
    color: #ffcc00;
    font-size: 50px;
}

.aboutp {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: whitesmoke;
}

table {
    border-collapse: collapse;
    width: 70%;
    height: 60%;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;

}

th,
td {
    padding: 12px;
    text-align: left;
}

.field {
    font-weight: bold;
}

.value {
    color: whitesmoke;
}

.resumeh1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
}

.resume {
    margin: 60px 150px;
    /* height: 100vh; */
    padding-top: 110px;
}

.education-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 20px;
}

.education-card {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(207, 207, 207, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 20px 20px;
}

.education-card:hover {
    transform: scale(1.05);
}


.education-card h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffcc00;
    font-size: 25px;
    padding-bottom: 40px;
}

.uni {
    color: rgb(182, 182, 182);
    font-family: 'Montserrat', sans-serif;

}

.degree {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: 700;
}

.resume a {
    text-decoration: none;
}

.submit {
    display: block;
    margin: 0 auto;
    padding: 20px 25px;
    font-size: 16px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.submit:hover {
    background-color: whitesmoke;
}